section.about
    .wrapper
      .column-1
        h1 hello
      .column-1
        h1 joe hubbard
        
section.projects
    .wrapper
      .column-1
        h1 hello
      .column-1
        h1 joe hubbard
