section.about
    .wrapper
      .column-1
        h1 about
      .column-1
        h1 joe hubbard
        
section.projects
    .wrapper
      .column-1
        h1 projects lorem
      .column-1
        h1 joe hubbard
