//header
link(href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet")
header.home-wrap
    .header-postion
        h1.logo Joe Hubbard
        nav.site-nav
            ul
                li: a(href="#about") About
                li: a(href="#projects") Projects
                li: a(href="#blog") Blog
                li: a(href="#other-work") Other work
                li: a(href="#notes") Notes
                li: a(href="#contact") Contact   
        a(href="mailto:joehubbard46@googlemail.com").email-link +email
          
        .mob-nav-hamburger: span
